body {
    margin: 0;
}

.header {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #a9c6e5;
    position: relative;
}

.header-text {
    font-size: 2rem;
    color: #333;
    margin: 0;
}

.home-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 15px;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #005bb5;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        padding: 15px;
    }

    .header-text {
        font-size: 1.5rem;
    }

    .home-button {
        font-size: 0.8rem;
        padding: 5px 10px;
        right: 10px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        padding: 10px;
        justify-content: center;
    }

    .header-text {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .home-button {
        font-size: 0.8rem;
        padding: 5px 10px;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}
